html {
    height: 100%;
}

body {
    height: 100%;
    overflow-y: hidden;
}

body > .container-fluid {
    height: 100%;
}

body > .container-fluid .app-view {
    height: 100%;
}

.brand a {
    color: #fff;
}

.states {
    overflow: hidden;
    list-style: none;
    height: 100%;
}

.state:first-child {
    border-left: 1px dotted #bbb;
}

.state {
    padding: 10px 0;
    margin: 0;
    border-right: 1px dotted #bbb;
    height: 100%;
    position: relative;
}

.state h3 {
    padding: 0 10px;
}

.state > div {
    padding: 0 2px 0 0;
}

.state > div > div {
    overflow: visible !important;
}

.issues {
    list-style: none;
    margin: 0;
    padding: 0 13px 0 10px;
}

.issue {
    padding: 0 10px;
    background: #ff0;
    overflow: hidden;
    margin: 5px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

.issue .version {
    font-size: 9px;
    float: left;
}

.issue time {
    display: block;
    font-size: 9px;
    float: right;
}

#add-issue-modal form {
    margin: 0;
}