<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="LOGS_DIRECTORY" value="${logs.directory}"/>

    <appender name="WEB" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_DIRECTORY}/yaka.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_DIRECTORY}/%d{yyyy-MM-dd}/yaka.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="HIBERNATE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_DIRECTORY}/hibernate.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_DIRECTORY}/%d{yyyy-MM-dd}/hibernate.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SQL" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS_DIRECTORY}/sql.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS_DIRECTORY}/%d{yyyy-MM-dd}/sql.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_WEB" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="WEB"/>
    </appender>

    <appender name="ASYNC_HIBERNATE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="HIBERNATE"/>
    </appender>

    <appender name="ASYNC_SQL" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="SQL"/>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="org.hibernate" level="INFO" additivity="false">
        <appender-ref ref="ASYNC_HIBERNATE"/>
    </logger>

    <!-- log4jdbc -->
    <logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
        <appender-ref ref="ASYNC_SQL"/>
    </logger>

    <logger name="jdbc.resultset" level="OFF"/>
    <logger name="jdbc.audit" level="OFF"/>
    <logger name="jdbc.sqlonly" level="OFF"/>
    <logger name="jdbc.connection" level="OFF"/>
    <!-- end log4jdbc -->


    <root level="INFO">
        <appender-ref ref="ASYNC_WEB"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>