<div class="states-container">
    <ul class="states" kanban-issues>
        <li class="state span3" ng-repeat="state in board.states">
            <h3>{{ state.name }}</h3>

            <div>
                <ul class="issues" data-state-id="{{state.id}}">
                    <li id="issue_{{issue.id}}" class="issue {{issue.color}}" data-issue-id="{{issue.id}}"
                        ng-repeat="issue in issues | filter:{states.0.state.id: state.id}">
                        <button type="button" class="close" ng-click="delete(issue.id)">&times;</button>

                        <h4>{{issue.name}}</h4>

                        <div class="version">{{issue.version.name}}</div>
                        <time>{{issue.states.0.created | friendlyDate }}</time>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>

<ng-include src="'templates/add-issue.html'"></ng-include>
<ng-include src="'templates/add-state.html'"></ng-include>
