<div id="notify-container" style="display:none">

    <div id="basic-template">
        <a class="ui-notify-close" href="#">
            <span class="ui-icon ui-icon-close" style="float:right"></span>
        </a>

        <h3>#{title}</h3>

        <p>#{text}</p>
    </div>

    <div id="error-template">
        <a class="ui-notify-close" href="#">
            <span class="ui-icon ui-icon-close" style="float:right"></span>
        </a>

        <span style="float:left; margin:2px 5px 0 0;" class="ui-icon ui-icon-alert"></span>

        <h3>#{title}</h3>

        <p>#{text}</p>
    </div>

</div>